*.idea
*.pyc
db/bootstrap/*/mongoDump
localWebConfig.json
nohup.out
debug
.happypack
web/swagger/dist/swagger.*
/webAPIs/
/log/*
webConfig.json
/dist
*.upx
docker/dist
/updates/latest
.DS_Store
.history
*.vscode
web/app/npm-debug.log*
web/app/node_modules
*.db
asdineStormRocks